<div>
	<table>
		<tr>
			<th>
				<div class="tableHeading">ACCOUNT NO</div>
			</th>
			<th class="tableHeading">USERNAME</th>
			<th class="tableHeading">PASSWORD</th>
			<th class="tableHeading">AMOUNT</th>
			<th class="tableHeading">ADDRESS</th>
			<th class="tableHeading">PHONE</th>
		</tr>
		<tr ng-repeat="customer in accnCtrl.accountDetails">

			<td><p class="accDetails1">{{customer.AccountNo}}</p></td>
			<td><p class="accDetails2">{{customer.Username}}</p></td>
			<td><p class="accDetails3">{{customer.Password}}</p></td>
			<td><p class="accDetails3">{{customer.Amount}}</p></td>
			<td><p class="accDetails2">{{customer.Address}}</p></td>
			<td><p class="accDetails4">{{customer.Phone}}</p></td>
		</tr>
	</table>
</div>