<div>
	<p class="nameHeading">Welcome <span class="nameAlign">{{blncCtrl.balanceDetails.Username}}</span></p>
	<table>
		<tr>
			<th>
				<div class="tableHeading">ACCOUNT NO</div>
			</th>
			<th class="tableHeading">USERNAME</th>
			<th class="tableHeading">AMOUNT</th>
			<th class="tableHeading">ADDRESS</th>
			<th class="tableHeading">PHONE</th>
		</tr>
		<tr>

			<td><p class="balanceAccNo">{{blncCtrl.balanceDetails.AccountNo}}</p></td>
			<td><p class="balanceUname">{{blncCtrl.balanceDetails.Username}}</p></td>
			<td><p class="balanceAmt">{{blncCtrl.balanceDetails.Amount}}</p></td>
			<td><p class="balanceAddrs">{{blncCtrl.balanceDetails.Address}}</p></td>
			<td><p class="balancePhno">{{blncCtrl.balanceDetails.Phone}}</p></td>
		</tr>
	</table>
</div>