
<div class="container-fluid menuBar">
	<div class="col-sm-12 gridBackground">
	
	<p>Contact us.</p>
      <h4><span class="glyphicon glyphicon-map-marker"></span> Bhopal,Madhyapradesh</h4>
      <h4><span class="glyphicon glyphicon-phone"></span> +91-0755-4029111 </h4>
      <h4><span class="glyphicon glyphicon-envelope"></span> hr@i-techsoftware.com</h4>
	<!--<p class="aboutUsSections">
	This is the Global Business which is under business and finance category for your website design. Freedesigntemplates.com is a free collection of site templates with the HTML layouts which are  are frequently updates
	</p>
	<p class="aboutUsSections">
	This is the Global Business which is under business and finance category for your website design. Freedesigntemplates.com is a free collection of site templates with the HTML layouts which are  are frequently updates
	</p>
	</div>
	<div class="col-sm-4 gridBackground">
	<p><b>Opportunities</b></p>
	<p class="aboutUsSections">
	This is the Global Business which is under business and finance category for your website design. Freedesigntemplates.com is a free collection of site templates with the HTML layouts which are  are frequently updates
	</p>
	<p class="aboutUsSections">
	This is the Global Business which is under business and finance category for your website design. Freedesigntemplates.com is a free collection of site templates with the HTML layouts which are  are frequently updates
	</p>
	</div>
	<div class="col-sm-4 gridBackground">
	<p><b>Solutions</b></p>
	<p class="aboutUsSections">
	This is the Global Business which is under business and finance category for your website design. Freedesigntemplates.com is a free collection of site templates with the HTML layouts which are  are frequently updates
	</p>
	<p class="aboutUsSections">
	This is the Global Business which is under business and finance category for your website design. Freedesigntemplates.com is a free collection of site templates with the HTML layouts which are  are frequently updates
	</p>
	</div>
	<div class="col-sm-4 gridBackground1">
	<p><b>Services</b></p>
	<p class="aboutUsSections">
	This is the Global Business which is under business and finance category for your website design. Freedesigntemplates.com is a free collection of site templates with the HTML layouts which are  are frequently updates
	</p>
	<p class="aboutUsSections">
	This is the Global Business which is under business and finance category for your website design. Freedesigntemplates.com is a free collection of site templates with the HTML layouts which are  are frequently updates
	</p>
	</div>
	<div class="col-sm-4 gridBackground1">
	<p><b>Welcome</b></p>
	<p class="aboutUsSections">
	This is the Global Business which is under business and finance category for your website design. Freedesigntemplates.com is a free collection of site templates with the HTML layouts which are  are frequently updates
	</p>
	<p class="aboutUsSections">
	This is the Global Business which is under business and finance category for your website design. Freedesigntemplates.com is a free collection of site templates with the HTML layouts which are  are frequently updates
	</p>
	</div>
	<div class="col-sm-4 gridBackground1">
	<p><b>News & Event</b></p>
	<p class="aboutUsSections">
	This is the Global Business which is under business and finance category for your website design. Freedesigntemplates.com is a free collection of site templates with the HTML layouts which are  are frequently updates
	</p>
	<p class="aboutUsSections">
	This is the Global Business which is under business and finance category for your website design. Freedesigntemplates.com is a free collection of site templates with the HTML layouts which are  are frequently updates
	</p>-->
	</div>
	
</div>