<div class="col-sm-12" style="padding: 0;">
	<div class="col-sm-4 gridBackground1 gridAlign"
		ng-include="'frontEnd/views/services.html'"></div>
		
	<div class="col-sm-4 gridBackground1 gridAlign"
		ng-include="'frontEnd/views/loginForm.html'" ng-if="!blncCtrl.isDataSubmitted"></div>
		
	<div ng-include="'frontEnd/views/welcomePage.html'"
		class="col-sm-4 gridBackground1 gridAlign" ng-if="!blncCtrl.isDataSubmitted">
		</div>
		
	<div ng-include="'frontEnd/views/balanceDetailsPage.html'"
		class="col-sm-8 gridBackground1 gridAlign" style="text-align: left;" ng-if="blncCtrl.isDataSubmitted">
		</div>
</div>