<div class="col-sm-12" style="padding: 0;">
	<div class="col-sm-4 gridBackground1 gridAlign"
		ng-include="'frontEnd/views/services.html'"></div>

	<div class="col-sm-4 gridBackground1 gridAlign"
		ng-include="'frontEnd/views/transferForm.html'"  ng-if="!tnfrCtrl.isDataSubmitted"></div>

	<div ng-include="'frontEnd/views/welcomePage.html'"
		class="col-sm-4 gridBackground1 gridAlign"  ng-if="!tnfrCtrl.isDataSubmitted">
		</div>
		<div ng-include="'frontEnd/views/transferDetailsPage.html'"
		class="col-sm-8 gridBackground1 gridAlign" style="text-align: left;" ng-if="tnfrCtrl.isDataSubmitted">
		</div>
</div>