<div class="balEnquiry">
	Transfer Info :
	<div class="balMsg">
		<p>Hi <span class="balHighlight">{{tnfrCtrl.transferDetails.From.Username}}</span>,</p>
		<p>You have successfully transfered the amount <span class="balHighlight"><i class="fa fa-rupee"></i> {{tnfrCtrl.amount}}</span> to <span class="balHighlight">{{tnfrCtrl.transferDetails.To.Username}}</span></p>
		<p>Your balance is : <span class="balHighlight"><i class="fa fa-rupee"></i> {{tnfrCtrl.transferDetails.From.Amount}}</span></p>
	</div>
</div>